header {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  .logo {
    margin-left: 40px;
    width: 48px;
    height: 48px;
    flex: 2;
  }

  .breadcrumb {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 40px;
    color: var(--blue1);
    font-size: 18px;
    flex: 1;

    .link {
      cursor: pointer;

      &:hover {
        color: var(--blue4);
      }
    }
  }

  
}