.popular-article {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  width: var(--w-desktop);

  .divider {
    height: 2px;
    width: 1073px;
    background-color: #eeeff2;
    margin: 50px 0;
  }

  svg {
    cursor: pointer;
  }

  .search {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    .btn-fa {
      display: flex;
      align-items: center;
    }

    .input-search {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;
      width: 940px;
      height: 56px;
      background-color: #f4f4f4;
      padding: 0 24px;
      border-radius: 10px;

      svg {
        cursor: pointer;
      }

      input {
        outline: none;
        border: none;
        background-color: transparent;
        flex: 1;
      }
    }
  }

  h1 {
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    color: var(--blue3);
    margin-bottom: 36px;
  }

  .bottom-articles {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    margin-top: 40px;
  }

  .main-article {
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 32px;

    .texts {
      display: flex;
      flex-direction: column;
      gap: 32px;
      flex: 1;

      .article-title {
        font-family: "Kaisei HarunoUmi", sans-serif;
        color: var(--blue1);
        font-size: 36px;
      }

      .article-description {
        font-family: "Urbanist", sans-serif;
        line-height: 26px;
        opacity: 0.6;
        width: 100%;
      }

      .article-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 24px;

        .author-date {
          display: flex;
          flex-direction: column;
          flex: 1;
          font-size: 14px;
          gap: 8px;

          .author {
            color: var(--blue1);
          }

          .date {
            opacity: 0.6;
          }
        }
      }
    }

    .article-image {
      display: flex;
      height: 380px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &.small {
      flex-direction: column-reverse;

      .article-title {
        font-size: 28px;
      }

      .article-image {
        width: 300px;
        height: 200px;
      }
    }
  }
}
